html {
  overflow-y: scroll;
}

legend {
    margin-left: 4em;
    font-size: 150%;
    max-width: 13em;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

@-webkit-keyframes fade_in {
  from { opacity:.2; }
  to { opacity:1; }
}
@keyframes fade_in {
  from { opacity:.2; }
  to { opacity:1; }
}

@-webkit-keyframes fade_out {
  from { opacity:1; }
  to { opacity:0; }
}
@keyframes fade_out {
  from { opacity:1; }
  to { opacity:0; }
}

.reveal-animation.ng-enter {
  -webkit-animation: fade_in .5s linear; /* Safari/Chrome */
  animation: fade_in .5s linear; /* IE10+ and Future Browsers */
  -webkit-animation-fill-mode: forwards;  
  animation-fill-mode: forwards;  
}

.message {
  -webkit-animation: fade_out 6s linear; /* Safari/Chrome */
  animation: fade_out 6s linear; /* IE10+ and Future Browsers */
  -webkit-animation-fill-mode: forwards;  
  animation-fill-mode: forwards;  
}

.valid, .invalid {
    position: relative;
}
.valid {
    display: none;
}

.container {
    padding: 3em 3em 1em 3em;
}

.nav {
    padding: .25em 1em 0em 0em;
    border-bottom: solid 1px #eee;
}

.nav-user {
    padding: .45em 0em 0em 0em;
}

.nav-username {
    padding: 0em .5em 0em 0em;
}

.nav-userinfo {
    text-align: right;
}

.credentials > input {
    width: 150px;
}

.pure-menu-heading {
    font-size: 150% !important;
}

.thumbnail {
    padding: 1em 1em 1em 1em;
    height: 14em;
    width: 14em;
}
.hero {
    text-align: center;
}
    .hero-titles {
        font-family: "omnes-pro", sans-serif;
        padding: 0 1em;
        margin: 2em auto;
        max-width: 768px;
    }
    .hero-site {
        font-size: 400%;
        font-weight: 100;
        margin: 0;
        color: #1f8dd6;
    }
    .hero-tagline {
        font-family: 'Press Start 2P', cursive;
        font-size: 150%;
        font-weight: 100;
        line-height: 1.5;
        margin: 0 0 1em;
        /*color: #666;*/
        color: #16161D;
    }

@media screen and (min-width: 48em) {
    .hero-titles {
        padding: 0 2em;
    }
    .hero-site {
        font-size: 600%;
    }
    .hero-tagline {
        font-size: 100%;
    }
}
