{% extends 'base.html' %}
{% load djangular_tags %}

{% block pagetitle %}Django-Angular Demo{% endblock %}

{% block app %}ng-app="app"{% endblock %}

{% block extrahead %}
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Press+Start+2P'>
    <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}css/custom.css'>
    <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}css/pure/pure-mod.css'>
{% endblock %}

{% block nav %}
<div class="pure-g nav">

<div class="pure-u-1-2">
    <div class="pure-menu pure-menu-open pure-menu-horizontal">
        <a href="#" class="pure-menu-heading">Django-Angular</a>
        <ul>
            <li><a href="#/products/">Product List</a></li>
            <li><a href="#/products/new/">Product Form</a></li>
            <li><a href="#/images/new/">Image Form</a></li>
        </ul>
    </div>
</div>

<div class="pure-u-1-2 nav-userinfo">
{% if user.is_authenticated %}
    <div class="nav-user ">
        <span class="nav-username">{{ user|title }}</span>
        <a href="/logout/" class="pure-button pure-button-primary">Log out</a>
    </div>
{% else %}
    <form class="pure-form" name='{{ form.form_name }}' action="/" method="post">
        <fieldset>
            {% if message %}
                <span class="message">{{ message }}</span>
            {% endif %}
            <div class="credentials">{{ form.username }} {{ form.password }} {% csrf_token %}
                <button type="submit" class="pure-button pure-button-primary">Sign in</button>
            </div>
        </fieldset>
    </form>
{% endif %}
</div>

</div>
{% endblock %}

{% block content %}
<div class="container">
	<div ng-view class="reveal-animation"></div>
</div>
{% endblock %}

{% block js %}
<script src="{{ STATIC_URL }}js/angular.min.js"></script>
<script src="{{ STATIC_URL }}js/angular-route.min.js"></script>
<script src="{{ STATIC_URL }}js/angular-animate.min.js"></script>
<script src="{{ STATIC_URL }}js/djangular/django-angular.js"></script>
<script src="{{ STATIC_URL }}js/app/products.js"></script>
<script src="{{ STATIC_URL }}js/app/routes.js"></script>
<script type="text/javascript">
// Configure Angular within Django for {-% Djangular tags %-}
(function() {
'use strict;'
// module name and external dependencies
angular.module('app', ['ngAnimate', 'ng.django.urls', 'products', 'routes', ])
    // For Django CSRF protection and headers
    .config(['$httpProvider',
        function($httpProvider) {
            $httpProvider.defaults.headers.common['X-CSRFToken'] = '{% csrf_value %}';
            $httpProvider.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
        }])
    .config(['$interpolateProvider',
        function($interpolateProvider) {
            $interpolateProvider.startSymbol('[[');
            $interpolateProvider.endSymbol(']]');
        }])
    // for Django-Angular reverse URL lookups
    .constant('patterns',
        {% load_djng_urls %})
})();
</script>
{% endblock %}
